In [ ]:
name = input("what is your name ? ")
print("Hello  my name is "+ name)
birth_year= input("when were you born?")
age = 2023 - int(birth_year)
print("i was born on ", birth_year, "which is mean i am ", age, "years old")

what is your name ? mario
Hello  my name is mario
when were you born?18
i was born on  18 which is mean i am  2005 years old

In [ ]:
import numpy as np

x = np.array([[1,4,5],[3,5,6]])
x

array([[1, 4, 5],
       [3, 5, 6]])

In [ ]:
def my_adder(a ,b ,c):
  """
  fungsi ini untuk coba coba aja
  """

  out = a + b + c

  return out

In [ ]:
my_adder(1,3,4)
help(my_adder)

Help on function my_adder in module __main__:

my_adder(a, b, c)
    fungsi ini untuk coba coba aja

In [ ]:
def my_thermo (temp, desired_temp):
  if temp < desired_temp - 5:
    status = 'heat'
  elif temp > desired_temp + 5:
    status = 'AC'
  else:
    status = 'off'
  return status

In [ ]:
status = my_thermo(65, 75)
print(status)

heat

In [ ]:
status = my_thermo(75,65)
print(status)

AC

In [ ]:
status = my_thermo(65,63)
print(status)

off

In [ ]:
x = 2
if x > 1 and x < 3:
  y = 1
elif x > 3 and x < 6:
  y = 2
else:
  y = 0

print(y)

1

In [ ]:
x =2
if 1<x<3:
  y =1
elif 3<x<6 :
  y =2
else:
  y =0

print(y)

1